%% Erlang compiler options
{erl_opts, [{src_dirs, ["src", "lib"]}]}.

%% Edoc options
{edoc_opts, [{application, ["cferl"]}]}.

%% == Dependencies ==

%% Where to put any downloaded depandencies. Default is `deps'
{deps_dir, ["deps"]}.

%% What dependancies we have, depandencies can be of 3 forms, an application
%% name as an atom, eg. mochiweb, a name and a version (from the .app file), or
%% an application name, a version and the SCM details on how to fetch it (SCM
%% type, location and revision). Rebar currently support git, hg, bzr and svn.
{deps, [{ibrowse, ".*", {git, "git://github.com/ddossot/ibrowse.git", "1217dd69533d7e31076c"}}]}.
